[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
matplotlib = "*"
pillow = "*"
pip = "*"
six = "*"
numpy = "*"
wheel = "*"
setuptools = "*"
mock = "*"
keras_applications = "*"
keras_preprocessing = "*"



[requires]
python_version = "3.7"
